/* html elements */
html {
  font-size: 100%;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  height: 100%;
  overflow-y: scroll;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  line-height: 1.5; /* Unit-less line-height means line height can scale. */
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility\9; /* Only IE, can mess with Android */
}

/* Sizes match proper font scaling. */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1em;
  padding: 0;
  margin: 24px 0 12px 0;
}

h1 { font-size: 2.153em; } /* 28px */
h2 { font-size: 1.692em; } /* 22px */
h3 { font-size: 1.385em; } /* 18px */
h4 { font-size: 1.231em; } /* 16px */
h5 { font-size: 1.077em; } /* 14px */
h6 { font-size: 1em; }

img,
a img {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 1.5em;
  padding: 0;
}

em,
dfn {
  font-style: italic;
}

ins {
  border-bottom: none;
  text-decoration: none;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-size: 0.846em;
  font-family: Monaco, "DejaVu Sans Mono", monospace, sans-serif; /* Safari hack */
}

blockquote,
q {
  font-style:italic;
  quotes:"" "";
}

blockquote,
p {
  margin: 1.5em 0;
}

p:first-child,
p.first-child {
  margin-top: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content:"";
}

strong,
dfn,
caption,
th {
  font-weight: 700;
}

pre,
div.codeblock {
  background-color: #f5f5f5;
  border: solid 1px #ddd;
  border-bottom-color: #ccc;
  border-right-color: #ccc;
  padding: 1em;
  white-space: pre-wrap;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* Lists */
ul,
ol {
  margin: 0 0 1.5em 1em;
  padding:0;
}

.item-list ul,
.item-list ol {
  margin: 0 0 0 1em;
  padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin-bottom: 0;
}

ul {
  list-style-type: disc;
}

ul ul ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

ul ul,
ul ul ul ul {
  list-style-type: circle;
}

dl {
  margin: 1em 0;
  padding: 0;
}

dt {
  font-size: 1.231em;
}

dd {
  margin: 0 0 0.4em 0;
  padding: 0 0 0 2em;
}

dd:last-child {
  border-bottom: 0;
}

dl dl {
  margin-left: 1em;
}

/**
 * Flexible Media and Cross browser improvements
 * - This can cause issues in table cells where no width is set on the column,
 *   only in some versions of webkit and IE 7/8.
 * - declaring the width attribute on image elements and using max-width causes
 *   the "dissappering images" bug in IE8.
 * - Google maps break also, see below for fixes.
 */
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

/* /ht Ethan Marcotte - http://front.ie/l8rJaA */
img,
embed,
object,
video {
  max-width: 100%;
}

/* Disable flexiblity for IE8 and below */
.lt-ie9 img,
.lt-ie9 object,
.lt-ie9 embed,
.lt-ie9 video {
  max-width: none;
}

/* Override max-width 100% for map displays and widgets */
#map img,
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img,
#locationmap_map img,
.geofieldMap img,
.views_horizontal_slider img,
.field-widget-imagefield-crop-widget img {
  max-width: none !important;
}

/* Improve IE's resizing of images */
svg:not(:root) {
  overflow: hidden;
}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */
audio:not([controls]) {
  display: none;
}
