/* Styles to support the theme settings */

/* Left */
.hl-l #branding {
  float: left;
  margin: 0 20px; 
}
.hl-l .region-header {
  float: right;
  margin: 0 10px;
}
.hl-l .region-header .block {
  display: inline;
  clear: none;
  margin-bottom: 0;
}
.hl-l #logo {
  padding: 0 20px 7px 3px;
}

/* Right */
.hl-r #branding {
  float: right;
  margin: 0 20px; 
}
.hl-r .region-header {
  float: left;
  margin: 0 10px;
}
.hl-r .region-header .block {
  display: inline;
  clear: none;
  margin-bottom: 0;
}
.hl-r #logo {
  padding: 0 3px 7px 20px;
}

/* Centered */
.hl-c #branding {
  float: none;
  margin: auto;
  text-align: center; 
}
.hl-c .region-header {
  display: table;
  float: none;
  margin: 15px auto 0;
  text-align: center;
}
.hl-c .region-header .block {
  margin: auto;
  display: inline;
  text-align: left;
  clear: none;
}
.hl-c .region-header .block-inner {
  margin: 0 20px;
}
.hl-c #logo {
  padding: 0 0 10px 0;
}

/* Image Alignment */
.ia-l .field-type-image figure,
.iat-l .field-type-image figure {
  margin: 18px 20px 0 0;
}
.ia-l .field-type-image figcaption,
.iat-l .field-type-image figcaption {
  margin: 5px 0;
}

.ia-r .field-type-image figure,
.iat-r .field-type-image figure {
  margin: 18px 0 0 20px;
}
.ia-r .field-type-image figcaption,
.iat-r .field-type-image figcaption {
  margin: 5px 0;
}

.ia-c .field-type-image figure,
.ia-n .field-type-image figure,
.iat-c .field-type-image figure,
.iat-n .field-type-image figure {
  border: none;
  padding: 10px 0;
}

.field-type-image.field-label-above {
  margin-top: 0;
}

.field-type-image .field-label {
  margin-bottom: 0.5em;
}

.field-type-image.field-label-inline .field-label {
  margin-bottom: 0;
  line-height: 1;
}

/* Override image alignment with short codes, 
   its takes a lot to override the theme settings for image alignment */
body .image-left,
body div.image-left,
body div.image-left .field-type-image {
  float: left;
  margin: 4px 15px 0 0;
  text-align: left;
}
body .image-left img,
body div.image-left img,
body div.image-left .field-type-image img {
  text-align: left;
  margin: 0;
}
body .image-right,
body div.image-right,
body div.image-right .field-type-image {
  float: right;
  margin: 4px 0 0 15px;
  text-align: right;
}
body .image-right img,
body div.image-right img,
body div.image-right .field-type-image img {
  text-align: right;
  margin: 0;
}
body .image-center,
body .image-center img,
body div.image-center,
body div.image-center .field-type-image {
  text-align: center;
}
body .image-center,
body div.image-center,
body div.image-center .field-type-image img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* Reset node from image fields */
form.node-form div.field-type-image {
  text-align: left !important;
}
form.node-form div.field-type-image {
  float: none !important;
  margin: 0 !important;
}
form.node-form div.field-type-image img {
  text-align: left !important;
  display: inline !important;
  margin: 0 !important;
}


/* Background overlays */
.bb-n {
  background-image: none;
}
.bb-h {
  background-image: url(images/ts/hatch.png);
}
.bb-vl {
  background-image: url(images/ts/line-vert.png);
}
.bb-hl {
  background-image: url(images/ts/line-horiz.png);
}
.bb-g {
  background-image: url(images/ts/grid.png);
}
.bb-d {
  background-image: url(images/ts/dots.png);
}

/* Box shadows */
.sc-n #page .content-style  {
  -webkit-box-shadow:0 0 0 transparent;
  -moz-box-shadow:0 0 0 transparent;
  box-shadow:0 0 0 transparent;
}
.bs-l #page .content-style {
  -webkit-box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
  -moz-box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
  box-shadow:0 0 10px rgba(76, 76, 76, 0.7);
}
.bs-d #page  .content-style {
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
  box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
}

/* Bullets */
.mb-n ul.menu {
  padding: 0;
} 
.mb-n ul li.leaf,   
.mb-n ul li.collapsed,
.mb-n ul li.expanded {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.mb-ah ul.menu {
  padding: 0 0 0 0.5em;
}
.mb-ah ul li.leaf,   
.mb-ah ul li.collapsed,
.mb-ah ul li.expanded {
  list-style-image: url(images/ts/arrow-head.png);
}
.mb-ad ul.menu {
  padding: 0 0 0 0.6em;
}
.mb-ad ul li.leaf,   
.mb-ad ul li.collapsed,
.mb-ad ul li.expanded {
  list-style-image: url(images/ts/arrow-double.png);
}
.mb-ca ul.menu {
  padding: 0 0 0 1em;
} 
.mb-ca ul li.leaf,   
.mb-ca ul li.collapsed,
.mb-ca ul li.expanded {
  list-style-image: url(images/ts/arrow-circle.png);
}
.mb-fa ul.menu {
  padding: 0 0 0 1em;
} 
.mb-fa ul li.leaf,   
.mb-fa ul li.collapsed,
.mb-fa ul li.expanded {
  list-style-image: url(images/ts/arrow-fat.png);
}
.mb-sa ul.menu {
  padding: 0 0 0 1em;
} 
.mb-sa ul li.leaf,   
.mb-sa ul li.collapsed,
.mb-sa ul li.expanded {
  list-style-image: url(images/ts/arrow-skinny.png);
}
.region-top-menu ul.menu li.leaf,
.region-top-menu ul.menu li.collapsed,
.region-top-menu ul.menu li.expanded {
  list-style-image: none;
}

/* Rounded corners */
/* rc columns/footer */
.rc-4 #columns   {
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 4px;
  -khtml-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomleft: 4px;
  border-radius: 0 4px 4px 4px; 
}
.rc-4 #page > footer,
.rc-4 .region-top-menu {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-bottomright: 4px;
  -khtml-border-radius-bottomleft: 4px;
  border-radius: 0 0 4px 4px; 
}
.rc-6 #columns  {
  -moz-border-radius: 0 6px 6px 6px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 6px;
  -khtml-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomleft: 6px;
  border-radius: 0 6px 6px 6px; 
}
.rc-6 #page > footer,
.rc-6 .region-top-menu {
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-bottomright: 6px;
  -khtml-border-radius-bottomleft: 6px;
  border-radius: 0 0 6px 6px; 
}
.rc-8 #columns {
  -moz-border-radius: 0 8px 8px 8px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 8px;
  -khtml-border-radius-bottomright: 8px;
  -khtml-border-radius-bottomleft: 8px;
  border-radius: 0 8px 8px 8px; 
}
.rc-8 #page > footer,
.rc-8 .region-top-menu {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-bottomright: 8px;
  -khtml-border-radius-bottomleft: 8px;
  border-radius: 0 0 8px 8px; 
}
.rc-10 #columns   {
  -moz-border-radius: 0 10px 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 10px;
  -khtml-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomleft: 10px;
  border-radius: 0 10px 10px 10px; 
}
.rc-10 #page > footer,
.rc-10 .region-top-menu  {
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-bottomright: 10px;
  -khtml-border-radius-bottomleft: 10px;
  border-radius: 0 0 10px 10px; 
}
.rc-12 #columns   {
  -moz-border-radius: 0 12px 12px 12px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 12px;
  -khtml-border-radius-bottomright: 12px;
  -khtml-border-radius-bottomleft: 12px;
  border-radius: 0 12px 12px 12px; 
}
.rc-12 #page > footer,
.rc-12 .region-top-menu  {
  -moz-border-radius: 0 0 12px 12px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-bottomright: 12px;
  -khtml-border-radius-bottomleft: 12px;
  border-radius: 0 0 12px 12px; 
}

/* remove rc from column if footer is active */
.rc-4 .with-footer #columns,
.rc-6 .with-footer #columns,
.rc-8 .with-footer #columns,
.rc-10 .with-footer #columns,
.rc-12 .with-footer #columns {
	-moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-radius-bottomright: 0;
  -khtml-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* rc forms */
.rct-4 input.form-button,
.rct-4 input.form-submit {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.rct-6 input.form-button,
.rct-6 input.form-submit {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.rct-8 input.form-button,
.rct-8 input.form-submit {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.rct-10 input.form-button,
.rct-10 input.form-submit {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.rct-12 input.form-button,
.rct-12 input.form-submit {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 10px;
}

/* rc tabs */
.rct-6 #menu-bar .menu-toggle a,
.rct-4 #menu-bar .menu-wrapper > ul > li,
.rct-4 #menu-bar .menu-wrapper > ul > li > a,
.rct-4 .region-header .block-content > ul > li,
.rct-4 .region-header .block-content > ul > li > a {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -khtml-border-radius-bottomright: 0;
  -khtml-border-radius-bottomleft: 0;
  border-radius: 4px 4px 0 0;
}
.rct-6 #menu-bar .menu-toggle a,
.rct-6 #menu-bar .menu-wrapper > ul > li,
.rct-6 #menu-bar .menu-wrapper > ul > li > a,
.rct-6 .region-header .block-content > ul > li,
.rct-6 .region-header .block-content > ul > li > a {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-radius-topleft: 6px;
  -khtml-border-radius-topright: 6px;
  -khtml-border-radius-bottomright: 0;
  -khtml-border-radius-bottomleft: 0;
  border-radius: 6px 6px 0 0;
}
.rct-6 #menu-bar .menu-toggle a,
.rct-8 #menu-bar .menu-wrapper > ul > li,
.rct-8 #menu-bar .menu-wrapper > ul > li > a,
.rct-8 .region-header .block-content > ul > li,
.rct-8 .region-header .block-content > ul > li > a {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-radius-topleft: 8px;
  -khtml-border-radius-topright: 8px;
  -khtml-border-radius-bottomright: 0;
  -khtml-border-radius-bottomleft: 0;
  border-radius: 8px 8px 0 0;
}
.rct-6 #menu-bar .menu-toggle a,
.rct-10 #menu-bar .menu-wrapper > ul > li,
.rct-10 #menu-bar .menu-wrapper > ul > li > a,
.rct-10 .region-header .block-content > ul > li,
.rct-10 .region-header .block-content > ul > li > a {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-radius-topleft: 10px;
  -khtml-border-radius-topright: 10px;
  -khtml-border-radius-bottomright: 0;
  -khtml-border-radius-bottomleft: 0;
  border-radius: 10px 10px 0 0;
}
.rct-6 #menu-bar .menu-toggle a,
.rct-12 #menu-bar .menu-wrapper > ul > li,
.rct-12 #menu-bar .menu-wrapper > ul > li > a,
.rct-12 .region-header .block-content > ul > li,
.rct-12 .region-header .block-content > ul > li > a {
  -moz-border-radius: 12px 12px 0 0;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-radius-topleft: 12px;
  -khtml-border-radius-topright: 12px;
  -khtml-border-radius-bottomright: 0;
  -khtml-border-radius-bottomleft: 0;
  border-radius: 12px 12px 0 0;
}

/* Main menu position - left is default */

/* Center */
.mbp-c #menu-bar .menu-wrapper {
  display: table;
  margin: 0 auto;
  text-align: center;
}
.mbp-c #menu-bar .menu-wrapper ul {
  text-align: left;
}
.mbp-c #menu-bar .menu-wrapper li,
.mbp-c #menu-bar .menu-wrapper .menu li {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

/* Right */
.mbp-r #menu-bar .menu-wrapper {
  float: right;
}
.mbp-r #menu-bar .menu-wrapper li,
.mbp-r #menu-bar .menu-wrapper .menu li {
  margin-left: 0.6em;
  margin-right: 0;
}

/* IE6/7 */
.ie6-7 .mbp-c #menu-bar .menu-wrapper  ul {
	float: left;
	position: relative;
	left: 50%;
}
.ie6-7 .mbp-c #menu-bar .menu-wrapper  .sf-menu ul li {
	left: 0;
}
.ie6-7 .mbp-c #menu-bar .menu-wrapper  .sf-menu li {
	left: -50%;
}
