/* Tables */
table {
  border: solid #e4e2e0;
  border-collapse: collapse;
  border-width: 1px 1px 0 1px;
  margin: 1em 0;
  width: 100%;
}
th {
  font-weight: 600;
  text-align: left;
}
th, td {
  border: solid #e4e2e0;
  border-width: 0 0 1px 0;
  padding: 0.5em;
  vertical-align: top;
}
thead th:last-child,
tr td:last-child {
  border-right: solid 1px #e4e2e0;
}
table .form-item,
table p {
  margin: 0;
}
/**
 * Webkit work-around
 */
tr td:last-child {
  border-right: 1px solid #e4e2e0;
}
