/* Blocks */
.block {
  clear: both;
  margin-bottom: 25px;
}
.block:last-child {
  margin-bottom: 15px;
}
.block-title {
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 1.3;
  margin: 0;
  padding: 0 0 4px;
  text-transform: uppercase;
}
#block-system-main .block-inner {
  margin: 0;
}
#dashboard .block ul {
  margin-left: 0;
}
.mini-panel-title {
  margin: 0 10px;
}
.region-secondary-content .block {
  font-size: 1.2em;
  line-height: 1.35;
  text-shadow: 1px 1px 1px #fff;
  text-align: center;
  margin-bottom: 35px;
}
.region-header .block {
  margin-top: 20px;
}
.region-header .block-superfish {
  margin-top: 36px;
}
#menu-bar .block {
  float: left;
  clear: none;
  margin-bottom: 0;
}
#menu-bar #block-system-user-menu {
  float: right;
}
.block .item-list ul  {
  margin-left: 1em;
}
.block-panels_mini .mini-panel-title {
  margin: 0 10px;
}
.block-poll ul.links li {
  list-style: none;
  margin: 0 0.5em 0 0;
}

/* Horizontal login in the menu bar */
#menu-bar .lb-h label {
  color: #fff;
}
#menu-bar #block-user-login.lb-h .item-list {
  margin-top: 3px;
  font-size: 0.9em;
  line-height: 1em;
}
#menu-bar #block-user-login.lb-h .item-list li {
  float: none;
  display: block;
  margin: 0;
  padding: 0;
}
#menu-bar #block-user-login.lb-h .form-actions {
  padding-top: 2px;
}

