/* Corolla < IE9 */
#branding * {
  display: block;
}
#branding,
#logo,
#branding hgroup {
  float: left;
}
.site-name-hidden #branding hgroup {
  clear: left;
}
.article .user-picture {
  width: 50px;
  margin-right: 15px;
}
.block input.form-text,
.block input.form-password,
.block input.form-file {
  width: 95%;
}
