/* General page and module styles */
#header-wrapper {
  position: relative;
  z-index: 100;
}
#header-wrapper header {
    clear: both;
    display: table;
    width: 100%;
}
#branding {
  padding: 45px 0 48px 25px;
  display: table-cell;
}
.region-header {
  padding: 45px 25px 48px 0;
  display: table-cell;
}
.region-header .block {
  float: right;
}
#logo {
  display: table-cell;
  padding: 0 15px 0 0;
  vertical-align: middle;
}
#branding hgroup {
  display: table-cell;
  vertical-align: middle;
}
#site-name {
  font-size: 4.5em;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
#site-name a    {
  letter-spacing: -3px;
}
#site-slogan {
  font-size: 1.1em;
  font-weight: 400;
}
.site-name-hidden #logo,
.site-name-hidden #branding hgroup {
  display: block;
}
#secondary-content-wrapper,
#top-panels-wrapper,
#content-wrapper,
#footer-panels-wrapper,
#tertiary-content-wrapper {
  margin-bottom: 25px;
  clear: both;
}
.content-margin {
  margin: 0 10px;
}
.content-style {
  min-height: 170px;
  padding: 25px 30px;
  background-color: #fff;
}
h1#page-title,
.in-maintenance h1#page-title {
  border-bottom: none;
  font-size: 2.1em;
  line-height: 1;
  margin: 0 0 1em;
  padding: 0;
}
h1.page-title {
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
}
#footer-panels-wrapper {
  background: rgba(255, 255, 255, .1);
  padding: 25px 0 10px;
}
#block-user-login .item-list {
  margin-top: 10px;
}
#user-login-form li.openid-link ,
#user-login li.openid-link,
#user-login-form li.openid-processed {
  margin-left: 0;
}
#block-user-login .description {
  margin-bottom: 10px;
}
.form-item-openid-identifier {
  margin: 10px 0;
  display: block;
}
#edit-openid-identifier {
  background-position: 6px 50%;
  padding-left: 25px;
}
.poll .title {
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.3;
}
.poll .bar-wrapper {
  margin-bottom: 8px;
}
.poll .bar-text {
  line-height: 1.2;
}
.poll .text {
  float: left;
  margin-bottom: 3px;
}
.poll .percent {
  float: right;
  font-size: 0.833em;
  padding: 1px 3px 0 0;
}
.block-poll .poll .percent {
  font-size: 0.692em;
}
.poll .bar {
  background-color: #fafafa;
  border: 1px solid #ccc;
  height: 1.385em;
}
.poll .bar .foreground {
  height: 1.385em;
}
.vote-form .form-item-choice {
  margin: 6px 0;
  padding: 0;
}
.vote-form .title {
  font-weight: 700;
  line-height: 1.5;
}
.vote-form .form-radios {
  margin: 13px 0 9px 0;
}
.poll .vote-form {
  text-align: left;
}
.poll .vote-form .choices {
  display: block;
}
.poll .total {
  text-align: left;
}
.profile {
  margin: 0;
}
.profile dd {
  margin-left: 0;
}
.profile dt {
  margin: 0;
}
.profile h3 {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-top: 17px;
}
.profile .user-picture {
  float: right;
  margin-top: 45px;
}
body.page-profile #profile {
  margin-top: 15px;
}
body.page-profile .profile {
  min-height: 60px;
  float: left;
  clear: none;
  width: 48.5%;
  margin-right: 1%;
}
body.page-profile .user-picture {
  margin: 0;
  padding: 0;
  float: left;
}
body.page-profile .user-picture img {
  width: 40px;
  padding: 5px 0;
}
body.page-profile .name,
body.page-profile .field {
  margin-left: 60px;
  padding: 12px 10px 10px 0;
}
.search-results {
  margin: 0;
  padding: 0;
}
.search-results li  {
  margin-bottom: 20px;
}
.search-results .title {
  margin: 0;
}
.search-results .search-snippet-info {
  margin: 0;
  padding: 0;
}
.search-results p {
  margin-bottom: 4px;
}
.search-snippet strong {
  background-color: #e25400;
  color: #fff;
  padding: 0 4px;
}
body.overlay {
  background-color: transparent;
}
#overlay-container {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  border-top-right-radius: 0;
}
body.overlay #main-columns,
body.overlay #main {
  padding: 0!important;
  min-width: inherit;
  max-width: inherit;
}
body.overlay #main-columns {
  width: 100%;
}
body.overlay #page {
  border: none;
  padding-bottom: 0;
}
body.overlay #content {
  border: none;
}
.overlay .ui-dialog-title {
  font-size: 2.333em;
  padding: 0 0 6px;
}
form#dblog-filter-form .form-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 0;
}
#dblog-filter-form select {
  width: 100%;
}
#dblog-filter-form .form-actions {
  padding: 6px 0;
}
tr.dblog-user {
  background: #ffd;
}
tr.dblog-user .active {
  background: #eed;
}
tr.dblog-content {
  background: #fffee9;
}
tr.dblog-content .active {
  background: #fffcc3;
}
tr.dblog-page-not-found,
tr.dblog-access-denied {
  background: #f3fcdb;
}
tr.dblog-page-not-found .active,
tr.dblog-access-denied .active {
  background: #def2a9;
}
tr.dblog-error {
  background: #fce8dd;
}
tr.dblog-error .active {
  background: #fad4c0;
}
div.contextual-links-wrapper {
  z-index: 20;
}
div.contextual-links-wrapper a.contextual-links-trigger {
  margin: 1px 0 0;
  padding: 0;
}
ul.contextual-links li a {
  color: #333!important;
  display:block;
  margin: 0;
  padding: 5px 5px;
}
a.contextual-links-trigger {
  border: transparent 1px solid;
}
.two-sidebars #placeholder {
  position:static;
  margin-bottom: 10px;
}
#dashboard #disabled-blocks h2 {
  color: #fff;
}
#dashboard .ui-sortable .block h2 {
  background-position: 0 -36px;
}
h1.page-title {
  display: inline-block;
  word-wrap: break-word;
  width: 100%;
}
.shortcut-wrapper {
  position: relative;
}
div.add-or-remove-shortcuts {
  display: none;
  margin-bottom: 3px;
}
div.add-or-remove-shortcuts a span.icon {
  margin-left: 4px;
}
body.page-admin div.add-or-remove-shortcuts,
body.overlay-open div.add-or-remove-shortcuts {
  margin-top: 3px;
  display: inline-block;
}
#toolbar div.toolbar-menu ul li a {
  line-height: 1.7;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
}
body.maintenance-page #content {
  margin-top: 5px;
}

/* System help */
#block-system-help {
  background-color: #f5f9fa;
  border: 1px solid #b3cfd4;
}

/* Messages */
#messages {
  margin: 0 10px;
}
div.messages {
  margin-bottom: 15px;
}
#block-system-help,
div.messages {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#block-system-help {
  margin-bottom: 15px;
}
#block-system-help .block-inner {
  padding: 0;
  margin: 0;
}

/* Gutters - if gutters are set in theme settings they will override these
   values: see Extensions > Modify Output > Design */
#main-content,
.block-inner,
.pane-inner,
.menu-wrapper,
.branding-elements,
.breadcrumb-wrapper,
.attribution,
.at-panel .rounded-corner,
.block-panels-mini > .block-title,
div.messages {
  margin-left: 10px;
  margin-right: 10px;
}
/* Panel pages need negative margin equal to the gutter width applied to #content,
  this is taken care of in theme settings as per above for normal gutters */
#content .panel-display,
#content .panel-flexible {
  margin-left: -10px;
  margin-right: -10px;
}

/* Contextual links */
a.contextual-links-trigger:hover {
  border-bottom: none;
}
