/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */
#branding {
  padding: 15px 0 0 0;
}
.region-header {
  padding: 0 0 10px;
}
#branding hgroup {
  margin-top: 1em;
}
#branding,
.region-header {
  float: none;
  margin: auto;
  text-align: center;
  display: table;
}
.with-logo #site-name,
.with-logo #site-slogan {
  text-align: left;
}
#site-name {
  font-size: 3em;
}
.content-style {
  padding: 10px;
}
#secondary-content-wrapper,
#top-panels-wrapper,
#content-wrapper,
#footer-panels-wrapper,
#tertiary-content-wrapper {
  margin-bottom: 10px;
}
.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1em;
}
#menu-bar .block > ul > li {
  margin: 0 1px 1px 0;
}
#menu-bar-wrapper .nav .block-menu li a,
#menu-bar-wrapper #menu-bar li.sf-depth-1,
#menu-bar-wrapper #menu-bar li.sf-depth-1 > a,
#menu-bar-wrapper .region-header .block-content > ul > li > a {
  border-radius: 6px 6px 6px 0;
}
.region-header .block {
  overflow: hidden;
}
.region-header .block ul li {
  display: block;
  text-align: center;
  float: none;
}
.region-header .block ul li a {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.article-title {
  font-size: 1.5em;
}
