/**
 * Do not delete or rename this file, if you do not use it leave it blank.
 */

#branding {
  padding: 10px 0 10px;
}
.region-header {
  padding: 0 0 10px;
}
#branding,
.region-header {
  float: none;
  margin: auto;
  text-align: center;
  display: table;
}
#logo,
#site-name,
#site-slogan {
  display: block;
  float: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
#site-name {
  font-size: 3em;
}
.content-style {
  padding: 10px;
}
#secondary-content-wrapper,
#top-panels-wrapper,
#content-wrapper,
#footer-panels-wrapper,
#tertiary-content-wrapper {
  margin-bottom: 10px;
}
.region-secondary-content .block {
  margin-bottom: 0;
  font-size: 1em;
}

#menu-bar .block > ul > li {
  display: inline-block;
  margin: 0.333em 0.1em;
  padding-left: 0;
}
.rct-6 #menu-bar .menu-wrapper ul li  a, 
.rct-6 .region-header .block-content ul li a {
  border-radius: 6px 6px 6px 6px;
}
#menu-bar ul > li a {
  padding: 0.4em 10px 0.5em;
  margin: 0 3px;
}

.region-header .block {
  overflow: hidden;
}
.region-header .block ul li {
  display: block;
  text-align: center;
  float: none;
}
.region-header .block ul li a {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.article-title {
  font-size: 1.5em;
}
