/**
 * @file
 * IE 9 Style hacks.
 */


body.bg-green-gradient {
  background: #dbe9b6 url("../images/bg-green-grad.jpg") repeat-x fixed !important;
}

body.bg-purple-gradient {
  background: #626584 url("../images/bg-purple-grad.jpg") repeat-x fixed !important;
}

body.bg-gray-gradient {
  background: #e8e8e8 url("../images/bg-gray-grad.jpg") repeat-x fixed !important;
}

body.bg-rust-gradient {
  background: #ce4c14 url("../images/bg-rust-grad.jpg") repeat-x fixed !important;
}
