/**
 * @file
 * General site styles
 */

body {
  color: #525252;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Enable responsive images and video */
img,
video {
  height: auto;
  max-width: 100%;
}

/* fix for OpenLayers and other maps - see: http://drupal.org/node/1925230*/
.gmap img,
.view-gmap img,
.openlayers-map img,
#getlocations_map_canvas img {
  max-width: none;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #dedede url("../images/quote.png") no-repeat;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px 12px 5px 47px;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

pre,
code {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #ccc;
  border: 1px solid #999;
  border-radius: 5px;
  display: block;
  font-family: monospace;
  margin: 2px 0;
  overflow: auto;
  padding: 6px 0 4px 14px;
  width: 98%;
}

ins {
  background-color: #fdfc9b;
  text-decoration: none;
}

mark {
  background-color: #fdfc9b;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

hr {
  background: #9f9f9f;
  border: none;
  clear: both;
  float: none;
  height: 1px;
  margin: 7px 0;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
  width: 100%;
}

.remove-margin {
  margin-right: 0 !important;
}

th,
tr,
td {
  vertical-align: middle;
}

.sticky-header th,
.sticky-table th {
  border-bottom: 3px solid #ccc;
  padding-right: 1em;
  text-align: left;
}

table {
  background: #ececec;
  border: 1px solid #bbbbbb;
}

th {
  background: #dbdbdb;
  border-right: 1px solid #c8c7c7;
  color: #333;
  padding: 5px 4px;
}

td {
  background: #ebebeb;
  border-bottom: 1px solid #c8c7c7;
  border-right: 1px solid #c8c7c7;
  color: #747474;
  padding-left: 4px;
  text-align: left;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

p {
  font-size: .9em;
  margin: 0 0 0.8em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ol,
ul {
  padding-left: 20px;
}

#content-wrapper ul li {
  font-size: .9em;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 14px 0px 4px 0px;
  padding: 0;
}

h1 {
  font-size: 1.8em;
  margin-bottom: .4em;
  margin-top: 0;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

/* Layout */

#wrapper {
  margin: 0px auto;
}

#content-wrapper {
  -webkit-box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
  -moz-box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
  background: #fff;
  box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
  padding: 0px 0px 25px 0px;
}

#content #post-content {
  padding: 10px;
}

#head {
  -webkit-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.56);
  -moz-box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.56);
  background: #fff;
  box-shadow: 0px 0px 17px rgba(50, 50, 50, 0.56);
  min-height: 112px;
}

#site-title-wrapper {
  margin-left: 4%;
  margin-top: 10px;
}

#logo {
  float: left;
  margin: 10px 10px 0 10px;
}

#logo img {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.site-slogan {
  color: #333;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
  text-transform: uppercase;
}

#navigation {
  float: right;
  margin: 0px auto;
}

.width-33 {
  float: left;
  margin: 0 10px;
  width: 300px;
}

.width-49 {
  float: left;
  margin: 0 1%;
  width: 48%;
}

.width-99 {
  float: left;
  margin: 0 1%;
  width: 99%;
}

aside.sidebar .block-content ul li,
#content article ul li {
  list-style-image: url("../images/raquo.png");
}

.sidebar-right aside h2 {
  -moz-border-radius-topleft: 24px;
  -webkit-border-top-left-radius: 24px;
  -moz-border-radius-bottomleft: 24px;
  -webkit-border-bottom-left-radius: 24px;
  border-radius: 24px 0 0 24px;
  margin-right: -10px;
  padding: 1px 0 3px 14px;
}

.sidebar-left aside h2 {
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-radius: 0 24px 24px 0;
  margin-left: -20px;
  padding: 2px 0 2px 10px;
}

#preface-wrapper .block h2 {
  -moz-border-radius-topright: 24px;
  -webkit-border-top-right-radius: 24px;
  -moz-border-radius-bottomright: 24px;
  -webkit-border-bottom-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  margin-right: 0;
  padding: 2px 0 3px 10px;
}

footer#colophon h2,
footer#colophon {
  color: #eaeaea;
}

footer#colophon .block-inner:first-child,
#preface-wrapper .block-inner:first-child {
  padding-left: 14px;
}

footer#colophon .block-inner:last-child,
#preface-wrapper .block-inner:last-child {
  padding-right: 14px;
}

header.container {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-radius: 12px 12px 0 0;
  margin-top: 16px;
  z-index: 100;
}

footer {
  -moz-border-radius-bottomright: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-radius: 0 0 12px 12px;
  margin-bottom: 10px;
}

#slideshow-wrapper.container {
  width: 100%;
}

#header {
  margin-top: 20px;
}

#breadcrumbs {
  font-size: 11px;
}

#content {
  margin-top: 4px;
}

.node h2.title {
  color: #4d4d4d;
  font-size: 20px;
}

.node h2.title a {
  color: #4d4d4d;
}

.block {
  margin-bottom: 1.5em;
}

#header .block > h2,
#foot .block > h2,
.region-content-top .block > h2 {
  font-size: 16px;
}

.sidebar .block > h2 {
  background: #214468;
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 2px 10px;
  text-transform: capitalize;
}

#colophon {
  -webkit-box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
  -moz-box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
  background: #3c3c3c;
  background: -moz-linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  background: -webkit-linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  background: -o-linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  background: -ms-linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  background: linear-gradient(90deg, rgb(57, 57, 57) 31%, rgb(86, 86, 86) 77%);
  box-shadow: 0px 5px 17px rgba(50, 50, 50, 0.56);
  margin-bottom: 24px;
  padding-top: 5px;
}

#colophon .footer-area a {
  color: #fff;
}

.footer-area {
  float: left;
  list-style: none;
}

.footer-area .block > h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 0px 0px 0px;
  text-transform: uppercase;
}

.footer-area .content {
  color: #bbb;
  line-height: 160%;
  margin: 0;
  padding: 7px 0px;
}

#copyright {
  background: #3e3742;
  padding: 25px 0px;
  text-align: center;
}

.credit {
  color: #eee;
}

.submitted {
  background: none;
  border-radius: 4px;
  color: #6a6a6a;
  display: block;
  font-size: .89em;
  font-weight: bold;
  margin-bottom: 16px;
  padding: 4px 9px 4px 0;
}

#breadcrumbs {
  padding: 10px 0 0 10px;
}

.links {
  color: #000;
  font-size: 14px;
  margin-top: 10px;
}

.links li a {
  background-color: #ddd;
  border-radius: 4px;
  font-weight: normal;
  padding: 2px 10px 1px 10px;
  text-transform: capitalize;
}

.links li a:hover,
ul.pager li:hover {
  background-color: #999;
  color: #fff;
}
ul.pager li a:hover {
  color: #fff;
}

article.last {
  margin-bottom: 30px;
}

/* form elements */

input[type="submit"],
input[type="reset"],
button {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 0;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-size: .8em;
  margin: 0 10px 0 0;
  padding: 7px 8px;
  text-transform: uppercase;
}

input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

.form-text,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #acacac;
  border-radius: 4px;
  color: #667;
  font-size: 1em;
  padding: 5px 8px;
}

html.js input.form-autocomplete {
  background-position: 99% 9px;
  padding: 3px 8px;
}
html.js input.throbbing {
  background-position: 99% -12px;
}

input,
select {
  vertical-align: middle;
}

label {
  display: block;
  font-size: .9em;
  margin: .8em 0 .5em 0;
}

select {
  border: 1px solid #acacac;
  border-radius: 4px;
  padding: 3px 4px;
}

fieldset {
  border: 1px dotted #ccc;
  margin: 0 0 1.4615em;
  padding: 1.1em;
}

legend {
  font-weight: bold;
}

.page-node-add .description {
  background: #f0f8ff url('../images/help.png') no-repeat 8px 8px;
  border: 0;
  margin: 10px 10px 0;
  padding: 5px 0 10px 40px;
}


/* Menus and lists */
.item-list ul {
  margin: 0;
  padding: 0 0 0 1.5385em;
}

.item-list ul li {
  margin: 0;
  padding: 0;
}

.links.node-links ul li:before {
  padding-right: 8px;
}

#sidebar-first {
  margin-top: 10px;
}

ul.menu li {
  margin: 0;
  padding: 0;
}

ul.inline {
  clear: both;
}

ul.inline li {
  margin: 0;
  padding: 0;
}

/* Admin Tabs */

.tabs-wrapper {
  border-bottom: 1px solid #b7b7b7;
  margin: 0 0 5px 0;
}

ul.primary {
  border: none;
  margin: 0;
  padding: 0;
}

ul.primary li a {
  background: none;
  border: none;
  border-radius: 4px 4px 0 0;
  display: block;
  float: left;
  line-height: 1.5385em;
  margin: 0;
  margin-right: 5px;
  padding: 0 1em;
}

ul.primary li a:hover,
ul.primary li a.active {
  background: #667;
  border: none;
  color: #fff;
}

ul.primary li a:hover {
  background: #888;
  text-decoration: none;
}

ul.secondary {
  background: #667;
  border-bottom: none;
  clear: both;
  margin: 0;
  padding: 0;
}

ul.secondary li {
  border-right: none;
}

ul.secondary li a,
ul.secondary li a:link {
  border: none;
  color: #ccc;
  display: block;
  float: left;
  line-height: 1.5385em;
  padding: 0 1em;
}

ul.secondary li a:hover,
ul.secondary li a.active {
  background: #888;
  color: #fff;
  text-decoration: none;
}

ul.secondary a.active {
  border-bottom: none;
}

/* Tabs and Tags */

.field-name-field-tags {
  margin: 0 0 10px 0;
}

.field-name-field-tags a {
  background: url("../images/tag.png") no-repeat;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  height: 22px;
  padding: 2px 8px 0 16px;
  text-transform: uppercase;
}

.field-name-field-tags .field-item {
  margin: 0 1em 0 0;
}

.field-name-field-tags div {
  display: inline;
}

/* Profile */

.profile {
  margin: 1.5385em 0;
}

.profile dd {
  margin-bottom: 1.5385em;
}

.profile h3 {
  border: none;
}

.profile dt {
  margin-bottom: 0;
}

.password-parent {
  width: 36em;
}

/* Comments */

#comments {
  border: 2px solid #cecece;
  border-radius: 8px;
  clear: both;
  margin-top: 14px;
  padding: 5px;
}

.comment {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: .2em;
  min-height: 150px;
  padding: 5px;
}

h3.comment-title a {
  color: #67696d;
  font-size: 16px;
  margin-bottom: 5px;
}

.comment .new {
  background: #e5e5e5;
  border-radius: 4px;
  color: #67c1c9;
  margin-left: 1em;
  padding: 3px 10px;
  text-transform: uppercase;
}

.comment .new:after {
  content: "\0020\0021";
}

.comment h3 {
  margin-bottom: .5em;
  margin-top: 0;
}

.form-textarea-wrapper textarea {
  border: 1px solid #acacac;
  border-radius: 3px;
}

.comment .submitted {
  border-radius: 4px;
  display: inline;
  padding: 3px;
  text-transform: capitalize;
  width: 100%;
}

.comment .user-picture {
  border: 1px solid #d9d9d9;
  float: left;
  margin-bottom: 7px;
  margin-right: 7px;
  padding: 4px;
}

.comment-new-comments {
  display: none;
}

.field-name-comment-body {
  margin-top: 10px;
}

li.comment_forbidden a {
  text-transform: uppercase;
}

.item-list .pager li {
  background: #cfcfcf;
  border-radius: 3px;
  margin-right: 4px;
}

/* Dates */

.date-in-parts {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background: #5c9d00;
  border-radius: 90px;
  float: left;
  height: 72px;
  margin: 6px 6px 2px 0;
  width: 72px;
}

.date-in-parts span {
  color: #eaeaea;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-top: -5px;
  text-align: center;
}

span.day {
  padding-top: 6px;
}

span.year {
  padding-top: 4px;
}

.field-type-image img {
  border: 1px dotted #333;
  margin-bottom: 8px;
  padding: 8px;
}

.img-caption {
  display: block;
  font-size: .8em;
  font-style: italic;
  position: relative;
  text-align: left;
  top: -12px;
}

.front .img-caption {
  text-align: center;
}

.views-label.views-label-title {
  font-weight: bold;
}

summary {
  cursor: pointer;
}

#top-links {
  margin-top: 11px;
  text-align: right;
}

#content article ul.contextual-links li {
  list-style-image: none;
}

#hero-first {
  margin-top: 10px;
}

#main-menu ul {
  display:none;
}
